<ion-view title="Grassroots" class="pane">
    <ion-pane class="launchpage" padding="true" scroll="false">

        <div class="row responsive-sm padding">
            <div class "col col-33 col-offset-67">
                <img class="grass-logo" alt="Grassroots logo" src="./assets/img/grassrootsLogo.jpeg" />
            </div>
        </div>

        <!-- <div class="spacer" style="width: 300px; height: 5px;"></div> -->

        <div class="row responsive-sm padding">
            <div class="col" style="text-align: center; padding: 10px 20px">
                <h4>Crowdsourcing election monitoring &amp; evaluation</h4>
            </div>
        </div>

        <!-- <div class="spacer" style="width: 300px; height: 25px;"></div> -->

        <div class="row padding">
            <div class="col" style="text-align: center">
                <a class="button icon-left ion-social-facebook-outline button-positive" ng-click="login()">acebook</a>
            </div>
        </div>

        <div class="bar bar-footer" ng-controller="modalPageCtrl">
            <a ng-click="openModal('skipPage')" class="button button-clear pull-right"><h4>Skip now</h4></a>
        </div>
    </ion-pane>
</ion-view>