<ion-view title="grassroots" class="pane" ng-controller="launchPageCtrl">
    <ion-pane padding="true" scroll="false">
        <!-- <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div> -->
        <div class="spacer" style="width: 300px; height: 250px;"></div>      

        <div class="row">
            <div class="col col-center" style="text-align: center; padding: 10px 20px">
                <h5>Crowd sourcing election monitoring &amp; evaluation</h4>
            </div>
        </div>
        
        <div class="spacer" style="width: 300px; height: 25px;"></div>

        <div class="row">
            <div class="col" style="text-align: center">
                <a class="button button-outline button-positive" ng-click="login()">Facebook login</a>
            </div>
        </div>

        <div class="bar bar-footer" ng-controller="modalPageCtrl">
            <a ng-click="openModal()" class="button button-clear pull-right"><h4>Skip now</h4></a>
        </div>
    </ion-pane>
</ion-view>