<ion-side-menus>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-energized">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-tabs class="tabs-energized tabs-icon-top">
            <ion-tab title="National" icon="ion-ribbon-a" ui-sref="observer.national">
                <ion-nav-view name="national"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Regional" icon="ion-ribbon-b" ui-sref="observer.regional">
                <ion-nav-view name="regional"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-energized">
            <h1 class="title">Grassroots</h1>
        </header>

        <ion-content class="has-header">
            <ion-list>
                <ion-item class="item-divider">CANDIDACY</ion-item>
                    <ion-item nav-clear menu-close ng-click="indexSlide(0, 0)"><a class="item-icon-right"><i class="icon ion-ribbon-a"></i>Presidential</a></ion-item>
                    <ion-item nav-clear menu-close ng-click="indexSlide(0, 1)"><a class="item-icon-right"><i class="icon ion-ribbon-a"></i>Senatorial</a></ion-item>
                    <ion-item nav-clear menu-close ng-click="indexSlide(0, 2)"><a class="item-icon-right"><i class="icon ion-ribbon-a"></i>National legislators</a></ion-item>
                    <ion-item nav-clear menu-close ng-click="indexSlide(1, 0)"><a class="item-icon-right"><i class="icon ion-ribbon-b"></i>Gubernatorial</a></ion-item>
                    <ion-item nav-clear menu-close ng-click="indexSlide(1, 1)"><a class="item-icon-right"><i class="icon ion-ribbon-b"></i>State legislators</a></ion-item>
                <ion-item class="item-divider">MORE</ion-item>
                    <ion-item nav-clear menu-close><a class="item-icon-right" href="#" onclick="window.open('http://www.getcounted.org', '_system'); return false;" style="text-decoration: none"><i class="icon ion-earth"></i>getcounted.org</a></ion-item>
                    <ion-item nav-clear menu-close ng-controller="socialShareCtrl"><a class="item-icon-right" ng-click="shareAnywhere()"><i class="icon ion-share"></i>Share</a></ion-item>
                    <ion-item nav-clear menu-close ng-controller="launchPageCtrl"><a class="item-icon-right" ng-click="logout()"><i class="icon ion-log-out"></i>Logout</a></ion-item>
                <ion-item class="item-divider">ABOUT</ion-item>
                    <ion-item nav-clear menu-close><a class="item-icon-right"><i class="icon ion-clipboard"></i>Terms &amp; Conditions</a></ion-item>
                    <ion-item nav-clear menu-close><a class="item-icon-right"><i class="icon ion-card"></i>Donate</a></ion-item>
            </ion-list>
    </ion-side-menu>
</ion-side-menus>
