<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <div class="h1 title">Skip Login</div>
        <button class="button button-icon icon ion-ios7-close-outline" ng-click="closeModal()"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="spacer" style="width: 300px; height: 10px;"></div>

        <div class="col col-center" style="text-align: justify; padding: 10px 20px">
            <p>
            We will appreciate if you login with facebook. This will give more value to the result submitted by you.
            </p>
            <p>
            But if you wish to remain anonymous please do so below.
            </p>
        </div>

        <div class="spacer" style="width: 300px; height: 70px;"></div>

        <div style="padding: 0px 40px" ng-controller="launchPageCtrl">
            <button class="button button-block button-outline button-assertive" ng-click="anon()">Skip</button>
        </div>
    </ion-content>
</ion-modal-view>
