<ion-modal-view ng-controller="modalPageCtrl">
    <ion-header-bar class="bar-energized">
        <div class="h1 title">Terms and Conditions</div>
        <button class="button button-icon icon ion-ios-close-outline" ng-click="downModal()"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="spacer" style="width: 300px; height: 10px;"></div>

        <div class="col col-center" style="text-align: justify; padding: 10px 20px">
            <p>
            </p>
        </div>

        <div class="spacer" style="width: 300px; height: 70px;"></div>
    </ion-content>
</ion-modal-view>
