<ion-modal-view ng-controller="modalPageCtrl">
    <ion-header-bar class="bar-royal">
        <div class="h1 title">Terms and Conditions</div>
        <button class="button button-icon icon ion-ios-close-outline" ng-click="closeModal()"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="spacer" style="width: 300px; height: 10px;"></div>

        <div class="col col-center" style="text-align: justify; padding: 10px 20px">
            <p>
                Message and data rates may apply for downloading and accessing mobile application features and content. By downloading this mobile application you represent that you are the account holder for the device or have the account holder's permission to download. You shall be responsible for obtaining and maintaining all telephone, computer hardware and other equipment needed for access to and use of the Services and all charges related thereto.
            </p>

            <p>
                You expressly agree that use of this mobile application (herein referred to as the Service) is at your sole risk. Neither TABC nor any of their respective employees, agents, third party content providers or licensors warrant that the Service will be uninterrupted or error free; nor do they make any warranty as to the results that may be obtained from use of the Service, or from the information contained therein, or as to the accuracy or reliability of any information or service provided through the Service.
            </p>

            <p>
                The Service is provided on an “as is” basis without warranties of any kind, either express or implied, including but not limited to, warranties of title or implied warranties of merchantability or fitness for a particular purpose, other than those warranties which are implied by and incapable of exclusion, restriction or modification under applicable law. Additionally, there are no warranties as to the results obtained from the use of the Service.
            </p>

            <p>
                This disclaimer of liability applies to any damages or injury caused by any failure or performance, error, omission, inaccuracy, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft or destruction or unauthorized access to, alteration of, or use of the Service, whether for breach of contract, tortious behavior (including, without limitation, strict liability), negligence, or under any other cause of action, to the fullest extent permissible by law. You specifically acknowledge that TABC is not liable for the defamatory, offensive or illegal conduct of other users or third-parties over which it has no control or for any disclosure of any type of information transmitted through the use of the Service.
            </p>

            <p>
                The TABC is not liable for damages, losses and causes of action whether in contract, tort (including, without limitation, strict liability) for accessing the Service. The TABC also assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer equipment or other property on account of your access to, use of, or browsing in the Service or your downloading of any materials, data, text, images, video, or audio from the Service.
            </p>

        </div>

        <div class="spacer" style="width: 300px; height: 70px;"></div>
    </ion-content>
</ion-modal-view>
